<a href="https://colab.research.google.com/github/meghabothe996/PythonCode/blob/main/Udemy_Python_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **SECTION 1 : Getting started to python programming**

Start with Hello world

In [ ]:
print("Hello, world")

Variable declaration and assignment

In [ ]:
name = "megha" 
num = 9
age = 21

Multi-assignment within a single statement

In [ ]:
name, num, age = "megha", 9, 21
print(name)
print(num)
print(age)

megha
9
21

Output multi values

In [ ]:
print(name, num, age)
print(name + "bothe", num, age)
print(name, (num + age))

megha 9 21
meghabothe 9 21
megha 30

Identifiers are case sensitive

In [ ]:
megha = 'bothe'
Megha = 'Bothe'
print(megha, "&&", Megha)

Finding data type

In [ ]:
print(type(megha))

Use the input function

In [ ]:
get_name = input('what is your name?')
print('my name is:' + get_name)

String data to represent text

In [ ]:
string_data = "hello everyone.., 99678 $$// 'anything' \"souble quotes\""
print(string_data)
print(len(string_data))

String detection

In [ ]:
m = "9sep"
h = "99"
print(m.isnumeric())
print(h.isnumeric())

Multi Line String

In [ ]:
print("Hello\nPeople's !!")
use_triple = """multi
\\line
string"""
print(use_triple)

Numbers data

In [ ]:
m = 9
h = 9.6
s = 5 - 34.j

print(type(m))
print(type(h))
print(type(s))

Import random

In [ ]:
import random
print(random.random())
print(random.randint(1, 99))
print(random.sample([99, 96, 67, 78], 4))

**Operators**

Arithmetic operator

In [ ]:
print(99+96)
print(99-96)
print(99*96)
print(99/96)
print(99%96)
print(99//96)
print(99**96)

Comparison operator

In [ ]:
print(3 == 3)
print(2 == 3)
print(2 > 3)
print(4 >= 3)
print(4 <= 3)

Logical operator

In [ ]:
print(99 == 99 and 99 == 99)
print(99 == 99 and 99 == 96)
print(99 == 99 or 99 == 96)
print(not True)

Assignment operator

In [ ]:
s = 99 + 96
print(s)

s = 96
s += 99
print(s)

h = 96
h /= 99
print(h)

Conditional operator

In [ ]:
name = "python"
print("False!" if name != "python" else "True!")

## **SECTION 2 : Data structure for data organization, management and storage**

Create a list

In [ ]:
players = ['ronaldo', 'messi', 'salah', 'mane']
print(players)

List contain any data

In [ ]:
mixed = ["hola", [99, 96, 678], 9, 21, True]
print(mixed)

Return number of items

In [ ]:
cars = ["BMW", "Volvo", "Audi"]
print(len(cars))

Access items

In [ ]:
cars = ["BMW", "Volvo", "Audi"]
print(cars[0])
print(cars[1])
print(cars[0:1])
print(cars[-3])

Change item

In [ ]:
fruits = ["banana", "lemon", "apple", "orange"]
fruits[2] = "fig"
print(fruits)

Append item

In [ ]:
fruits = ["banana", "lemon", "apple", "orange"]
fruits.append("another fruit") #this is use to add item at last in the list
print(fruits)

Delete item

In [ ]:
fruits = ["banana", "lemon", "apple", "orange"]
del fruits[2]
print(fruits)

Create a tuple - it is ordered and unchangable

In [ ]:
players1 = ("Ronaldo", "Messi", "Pogba", "Modric")
players2 = "Salah", "Mane"
print(players1)
print(players2)

Create a single tuple

In [ ]:
fruit1 = ("lemon")
fruit2 = ("lemon",)
print(fruit1)
print(fruit2)

List inside tuple

In [ ]:
mixed = ("apple", "orange", [99, 96, 678])
print(mixed)

Access item in tuple

In [ ]:
fruits = ("banana", "lemon", "apple", "orange")
print(fruits[2])
print(fruits[0:2])

apple
('banana', 'lemon')

Update tuple items

In [ ]:
fruits = ("banana", "lemon", "apple", "orange")
print(fruits)

('banana', 'lemon', 'apple', 'orange')
('berry', 'cherry')

Reassign items

In [ ]:
fruits = ("berry", "cherry")
print(fruits)

('berry', 'cherry')

Tuple concatenation

In [ ]:
fruits1 = ("banana", "lemon", "apple", "orange")
fruits2 = ("berry", "cherry") 
allfruits = fruits1 + fruits2
print(allfruits)

Delete tuple

In [ ]:
fruits1 = ("banana", "lemon", "apple", "orange")
del fruits1
print(fruits1)

NameError: ignored

Create a dictionary

In [ ]:
player_number = {"messi": 10, "ronaldo": 7, "salah": 11}
player_number = dict({"messi": 10, "ronaldo": 7, "salah": 11}) #dict is inbuilt function
print(player_number)
print(type(player_number))

Update item (ronaldo number)

In [ ]:
player_number["ronaldo"] = 17
print(player_number)

Add item

In [ ]:
player_number["pogba"] = 6
print(player_number)

Delete item

In [ ]:
del player_number["pogba"]
print(player_number)

Create a fruit price dictionary

In [ ]:
fruit_price = {"apple": [99, 96, 678], "banana": 4, "fig": 3}
print(fruit_price["apple"])
print(fruit_price["apple"][2])
print(fruit_price.get("fig"))

terminal code (can in editor also)

In [ ]:
newfruits = {"fig", "lemon", "cherry"}
print(newfruits)

for x in newfruits:
       print(x)

print("banana" in newfruits)

newfruits.add("orange")
print(newfruits)

newfruits.update(["mango", "grapes"])
print(newfruits)

print(len(newfruits))

newfruits.remove("fig")
print(newfruits)

x = newfruits.pop()
print(x)
print(newfruits)

newfruits.clear()
print(newfruits)

## **SECTION 3 : Practical flow control and iterable aspects**

**Conditional statements**

if statement

In [ ]:
num = 99
if num > 96:
    print("this is True for if statement")

else statement

In [ ]:
num = 99
if num > 996:
    print("this is True for if statement")
else:
    print("anything else!")

elif statement

In [ ]:
num = 99
if num > 996:
    print("this is True for if statement")
elif 996 > num >= 99:
    print("this is the best choice for elif!")
else:
    print("anything else!")

Ternary Operator

In [ ]:
x = 9
print("less than 9" if x < 10 else "anything else!")

while loop

In [ ]:
num = 1
while (num < 10):
    print(num)
    num = num + 1

break statement

In [ ]:
num = 1
while(num < 9):
    print(num)
    num = num + 1
    if num == 5:
        break

while loop with else

In [ ]:
num = 1
while(num < 10):
    print(num)
    num = num + 1
else:
    print("loop is completed!")

Positioning the increment

In [ ]:
num = 1
while(num < 10):
    num = num + 1
    print(num)

Iterating over sequences with for (can be in terminal also)

In [ ]:
fruits = ["fig", "apple", "banana", "lemon"]
for i in fruits:
    print(i)

for i in fruits:
    print(i)
    if i == "banana":
        break

for i in fruits:
    print(i)
else:
    print("completed process")

for i in fruits:
    print(i)
    if i == "banana":
        break
else:
    print("completed process")

## **SECTION 4 : Building software by composing pure functions process**

Function definition

In [ ]:
def hello_function():
    print("hello from this function!")
    # function calling
hello_function()

hello from this function!

Information that are passed into the block

In [ ]:
def hello_function(name = "pogba"):
    print("hello " + name )
hello_function('ronaldo')
hello_function('messi')
hello_function('salah')
hello_function()

hello ronaldo
hello messi
hello salah
hello pogba

Pass multiple data into the task
- list as a parameter

In [ ]:
def foods(fruit):
    for x in fruit:
        print(x)
my_fruits = ["fig", "apple", "banana"]
foods(my_fruits)

fig
apple
banana

Giving something back or replying to the caller
- returning value

In [ ]:
def numbers(x):
    return 9 * x
print(numbers(4))
print(numbers(9))
print(numbers(12))

36
81
108

Key value args

In [ ]:
def fruits(fruit1, fruit2, fruit3):
    print("the first fruit is " + fruit1)
    print("the second fruit is " + fruit2)
    print("the third fruit is " + fruit3)
fruits(fruit1='banana', fruit2='apple', fruit3='lemon')

the first fruit is banana
the second fruit is apple
the third fruit is lemon

Have the arbitrary of arguments
- pass tuple into a function

In [ ]:
def new_function(*fruits):
    print('the fruit is ' + fruits[2])
new_function('banana', 'apple', 'fig')

the fruit is fig

Common technique to conquer algorithms
- recursion function

In [ ]:
def new_recursion(n):
    if(n>0):
        result = n + new_recursion(n-1)
        print(result)
    else:
        result = 0
    return result
print("\n\n recursion results")
new_recursion(9)

 recursion results
1
3
6
10
15
21
28
36
45

45

Building anonymous blocks
- add 20 to a number x

In [ ]:
a = lambda x: x + 9
print(a(99))

108

- Lambda args

In [ ]:
store_lambda = lambda x, y : x * y
print(store_lambda(99, 96))

9504

- Sum of lambda

In [ ]:
store_args = lambda x, y, z : x + y + z
print(store_args(4, 9, 12))
print(store_args(96, 99, 678))

25
873

Solving problems using anonymous function inside functions
- anonymous with one args

In [ ]:
def new_multiplied(k):
    return lambda x : x * k
new_double = new_multiplied(2)
new_triple = new_multiplied(3)
print(new_double(99))
print(new_triple(99))

198
297

## **SECTION 5 : Object-oriented programming model to organize software development**

Blueprint or prototype, bundling and functionality
- Class construction

In [ ]:
class NewClass:
    def newFunc(self):
        return 'python is fun'
        # objection creation
newObj = NewClass()
print(newObj.newFunc())

python is fun

How to create multiple class objects

In [ ]:
class NewClass:
    def NewHello(self):
        return "hello from the NewHello function"
# first object
first_object = NewClass()
print(first_object.NewHello())
# second object
second_object = NewClass()
print(second_object.NewHello())

hello from the NewHello function
hello from the NewHello function

Multiple functions inside class

In [ ]:
class DoMath:
    def addition(self, x, y):
        return x + y
    def subtraction(self, x, y):
        return x - y
    def multiplication(self, x, y):
        return x * y
    def division(self, x, y):
        return x / y

# first object
first_object = DoMath()
print(first_object.addition(99, 96))
print(first_object.subtraction(99, 96))
print(first_object.multiplication(99, 96))
print(first_object.division(99, 96))

# second object
second_object = DoMath()
print(second_object.addition(4, 12))
print(second_object.subtraction(4, 12))
print(second_object.multiplication(4, 12))
print(second_object.division(4, 12))

195
3
9504
1.03125
16
-8
48
0.3333333333333333

Constructor in object oriented terminology

In [ ]:
class NewClass:
    def __init__(self):
        self.a = "hello"
    def Hi(self):
        return "hola, senorita"
first_object = NewClass()
print(first_object.a)
print(first_object.Hi)

hello
<bound method NewClass.Hi of <__main__.NewClass object at 0x7fb8478cae10>>

Groups of tasks that belong to the object

In [ ]:
class Player:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def newHi(self):
        print("Hi, my name is " + self.name)
o1 = Player("developer", 45)
o1.newHi()

Hi, my name is developer

Best way to remove properties

In [ ]:
class Player:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def newHi(self):
        print("Hi, my name is " + self.name)
o1 = Player("developer", 45)
del o1.age
print(o1.age)

# delete object
del o1
print(o1)

# modifying object properties
o1.age = 54
print(o1.age)

AttributeError: ignored

Building a super class and inheritance
- parent class

In [ ]:
class Anyone:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
    def display(self):
        print(self.firstname, self.lastname)
# object
myObj = Anyone("mo", "salah")
myObj.display()

mo salah

Inherits all the methods and properties from another class
- parent class

In [ ]:
class Anyone:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
    def display(self):
        print(self.firstname, self.lastname)
# child class
class Player(Anyone):
    pass
o1 = player("Mo", "salah")
o1.display()

NameError: ignored